.blog {
    padding: 8em 1em;
    box-sizing: border-box;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2em;
}

.ListSide {
    display: flex;
    margin: 0 auto;
    padding: 0 1em;
}


/* タブレットサイズ以上：2列に */
@media (min-width: 768px) {
    .ListSide {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* PCサイズ以上：3列に */
@media (min-width: 1024px) {
    .ListSide {
        grid-template-columns: repeat(3, 1fr);
    }
}